.main {
  padding: 2rem;
  width: 640px;
  min-height: 640px;
  background-color: var(--bg-1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--board {
  width: 100%;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.main--restart,
.main--reroll {
  color: var(--accent-text);
  font-size: 2rem;
  line-height: 19px;
  background: var(--orange);
  border: 0;
  border-radius: 0.5rem;
  width: 12rem;
  height: 4rem;
  cursor: pointer;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
}

.main--restart {
  background: var(--green);
}

.main--title {
  font-size: 4rem;
  color: var(--yellow);
}

.main--instructions {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  color: var(--accent-text);
}

.main--stats {
  width: 100%;
  margin: 2rem;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  background: var(--gray);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}
